{% load static %}
<!-- footer starts here -->

<section class="footer">

    <h4>Stay In Touch</h4><br>
    <p> Sematos is a Nigerian based company which deals in various and different service rendering. Oil and Gas, Automobiles, Real Estate.
        etc. we offer the best sales and are concerned with giving the best service to our customers
    </p>
    
    <div class="icons">
        <a href="https://www.facebook.com">
            <i class="fa fa-facebook"></i>
        </a>
        
        <a href="https://www.instagram.com">
            <i class="fa fa-instagram"></i>
        </a>

        <a href="https://www.twitter.com">
            <i class="fa fa-twitter"></i>
        </a>
    </div>
    <p> <i class="fa fa-heart-o"></i> thatboyprogrammer <i class="fa fa-heart-o"></i> </p>
</section>

