{% extends 'user_templates/base.html' %}
{% load static %}

{% block title %} Welcome - Home {% endblock title %}


{% block content %}

	{% include 'user_templates/header.html' %}

	<!-- About The Company -->
	<section class="service">
		<h1>Who we are?</h1>
		<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p> -->

		<h4>Sematos is a Nigerian based company which deals in various and different service rendering. Oil and Gas, Automobiles, Real Estate.
			etc. we offer the best sales and are concerned with giving the best service to our customers.
		</h4>

		<div class="row">
			<div class="service-col">
				<h3>Our Mission</h3>
				<p>{{about_mission}}......</p>
				<a href="{% url 'about-us' %}">Read More</a>
			</div>

			<div class="service-col">
				<h3>Our Vision</h3>
				<p>{{about_vision}}......</p>
				<a href="{% url 'about-us' %}">Read More</a>
			</div>

			<div class="service-col">
				<h3>Core Values</h3>
				<p>{{core_values}}.....</p>
				<a href="{% url 'about-us' %}">Read More</a>
			</div>
		</div>
	</section>
	<!-- End About the Company -->

	<!-- Company Services Starts Here -->
	<section class="case-study">
		<h1>What we do?</h1>
		<p>We provide detailed terminal data you need to make smart business decisions</p>

		<div class="row">
			<div class="case-study-col">
				<img src="{% static 'assets/img/oil-and-gas.jpg' %}">
				<h3>Dealer of Oil and Natural Gas</h3>
				<p style = "text-align: justify;"> Our database comprises of more than 7,000 tank storage facilities worldwide; such as tank terminals, petroleum refineries, 
					crude petroleum export terminals, chemical sites, olefin plants.
			</div>

			<div class="case-study-col">
				<img src="{% static 'assets/img/building-contractor.jpg' %}">
				<h3>Building Contractor & Estate Agent</h3>
				<p style = "text-align: justify;">Semato's participating real estate agents are local to your area and from the top-notch brokerages 
					that make up Realogy’s residential real estate brands, such as Better Homes and Gardens© Real Estate, CENTURY 21©, 
					Coldwell Banker©, Corcoran©, ERA©, and Sotheby’s International Realty
				</p>
			</div>

			<div class="case-study-col">
				<img src="{% static 'assets/img/automobile.jpg' %}">
				<h3>Dealer of Automobile</h3>
				<p style = "text-align: justify;"> We spread good carma to make a positive impact on the lives of our customers, colleagues, and also the wider community. 
					CarShop Cares is our dedicated charity programme that works closely with the nice people at Global's Make Some Noise, 
					supporting children and young people in areas throughout the Nigeria.</p>
			</div>	

			<div class="case-study-col">
				<img src="{% static 'assets/img/general-supply.png' %}">
				<h3>General Supply</h3>
				<p style = "text-align: justify;"> We at sematos is involved in many service rendering and procuring ranging from selling and buying of goods and products 
					and also improvment of people's business in all ways
				</p>
			</div>
		</div>

	</section>

	<!-- Case Study Starts Here -->
	<section class="about">
		<h1>Case Study</h1>
		<p>Our works speaks for us</p>

		<div class="row">
			<div class="about-col">
				<img src="{% static 'assets/images/avatar/pic13.png' %}">
				<div class="layer">
					<h3>Trailers</h3>
				</div>
			</div>
			<div class="about-col">
				<img src="{% static 'assets/images/avatar/pic7.jpeg' %}">
				<div class="layer">
					<h3> Benz Varieties </h3>
				</div>
			</div>
			<div class="about-col">
				<img src="{% static 'assets/images/avatar/pic6.jpeg' %}">
				<div class="layer">
					<h3>Hiace Buses</h3>
				</div>
			</div>
		</div>
	</section>

	<section class="about">
		<div class="row">
			<div class="about-col">
				<img src="{% static 'assets/images/avatar/pic8.jpeg' %}">
				<div class="layer">
					<h3>Jeep</h3>
				</div>
			</div>
			<div class="about-col">
				<img src="{% static 'assets/images/avatar/pic9.jpeg' %}">
				<div class="layer">
					<h3>Sport Cars</h3>
				</div>
			</div>
			<div class="about-col">
				<img src="{% static 'assets/images/avatar/pic10.jpeg' %}">
				<div class="layer">
					<h3>Automobiles</h3>
				</div>
			</div>
		</div>
	</section>

	<!-- testimonials starts from here  -->
	<section class="testimonials">
		<h1>Testimonial</h1>
		<p> Our past customers speaks more about us </p>

		<div class="row">
			<div class="testimonial-col">
				<img src="">
				<div>
					<p style = "text-align: justify;">At first i wasn't sure whether the Company was good enough in comparison with other companies since its my first transaction 
						in the end i was very much satisfied with the service
					</p>
					<h3> Akinrolabu Olatunde </h3>
				</div>
			</div>

			<div class="testimonial-col">
				<img src="">
				<div>
					<p style = "text-align: justify;"> I was once a disbeliever myself, because i didn't like transactions online, but when i met the CEO, i was assured and everything went 
						perfecty well. very good Company 
					</p>
					<h3> Adelabi Oluwafemi Great</h3>
				</div>
			</div>
		</div>
	</section>

	<!-- CTA starts from here  -->
	<section class="cta">
		<h1> Don't lose any of our updates, stay with us and receive our newsletters  </h1>
		<a href="{% url 'contact-us' %}" class="hero-btn">Contact Us</a> <br><br>
		<br><hr>
		<div class="email-form">
			<form method="POST" class="email-form-container" action = "{% url 'list-gen-save' %}"> {% csrf_token %}
				<div class="email-form-input">
					<input type="email" name="email" class = "form-control" placeholder = "Email" required style = "width:220px; margin-right:2px;">
				</div>
				<div class="email-form-button">
					<button type="submit" class="hero-btn"> Submit </button>
				</div>
			</form>
		</div>
	</section>

{% endblock content %}


{% block scripts %}

{% endblock scripts %}