{% extends 'admin_templates/base.html' %}

{% load static %}


{% block title %} Admin - Messages {% endblock title %}


{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="me-auto">
					<h4 class="page-title">Sematos Nigeria Limited</h4>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Message Box</li>
								<li class="breadcrumb-item active" aria-current="page">All Messages</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>

		<!-- Main content -->
		<section class="content">

		  <div class="row">
			  <div class="col-12">
				<div class="box">
				  <div class="box-body">
					<div class="table-responsive">
						<table id="productorder" class="table table-hover no-wrap product-order" data-page-size="10">
							<thead>
								<tr>
									<th>S/N</th>
									<th>Email Address</th>
									<th>Subject Message</th>
									<th>Text Message</th>
									<th>Time-Stamp</th>
									<th> Actions </th>
								</tr>
							</thead>
							<tbody>
								<tr>
									{% for message in messages %}
									<td>{{message.id}}</td>
									<td>{{message.email}}</td>
									<td>{{message.show_subject}}</td>
									<td>{{message.show_message}}</td>
									<td>{{message.timestamp}}</td>
									<td>
										<a href="" class="text-info me-10" data-bs-toggle="tooltip" data-bs-original-title="Preview">
											<i class="ti--alt"></i>
										</a>
										<a href="{% url 'message-details' message.id %}" class="text-info me-10" data-bs-toggle="tooltip" data-bs-original-title="Edit">
											<i class="ti-marker-alt"></i>
										</a> 
										<a href="{% url 'delete-message' message.id %}" class="text-danger" data-bs-original-title="Delete" data-bs-toggle="tooltip">
											<i class="ti-trash"></i>
										</a>
									</td>
									{% endfor %}
								</tr>
							</tbody>						
						</table>
					</div>
				  </div>
				</div>
			  </div>		  
		  </div>

		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
 
{% endblock content %}


{% block scripts %}

{% endblock scripts %}